

        <main class="l-main">
          

            <section class="banner_section">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h1 class="banner__title">Portfolio Detail</h1>
                    </div>
                  </div>
                </div>
            </section>    


            <section class="portoflio_section bd-grid">
          
                <div class="site-section pb-0">
                    <div class="container">
                        <div class="row align-items-stretch">
                            <div class="col-md-6 aos-init aos-animate" data-aos="fade-up">
                                <img src="assets/img/placeholder.jpg" alt="Image" class="img-fluid">
                            </div>
                            <div class="col-md-3 ml-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                                <div class="sticky-content">
                                    <h2 class="section-title">{{ projectTitle }}</h2>
                                    <h4 class="about__text h4 mb-3">Brief</h4>
                                    <div class="mb-5">
                                    <p class="about__text">{{ projectDescription }}</p>
                                    </div>
                                    <h4 class="about__text h4 mb-3">Technologies</h4>
                                    <div class="card-body skills__body p-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" *ngFor="let tech of technology">{{ tech }}</li>
                                    </ul>
                                    </div>
                                    <div class="my-5">
                                    <p class="about__text"><a href="{{ sourceCodeLink }}">View Source Code</a></p>
                                    <p class="about__text"><a href="{{ projectDemoLink }}">View Project Demo</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="about section " id="about">
            
                    <ul class="nav nav-tabs bd-grid" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Project Challenges/Solutions:</button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Project Role/Responsibilities</button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Project Duration</button>
                        </li>
                        
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Project Results/Outcomes</button>
                        </li>
                      
                    </ul>
                    <div class="tab-content bd-grid" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                           
                               
                            <div class="col-md-12">
                                <div class="challenge my-3">
                                  <h4 class="about__text h4 mb-3" id="challenge__title">{{ challengeTitle }}</h4>
                                  <p class="about__text mb-3" id="challenge__description">{{ challengeDescription }}</p>
                                  <h4 class="about__text h4 mb-3" id="solution__title">{{ solutionTitle }}</h4>
                                  <p class="about__text mb-3" id="solution__description">{{ solutionDescription }}</p>
                                </div>
                              </div>
        
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            
                            
                            
                            <div class="responsibility">
                                <h4 class="responsibility__title">Role: {{ role }}</h4>
                                <ul class="responsibility__tasks">
                                  <li *ngFor="let task of tasks">{{ task }}</li>
                                </ul>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="challenge my-3">
                                  <h4 class="about__text h4 mb-3" id="challenge__title">{{ challengeTitle }}</h4>
                                  <p class="about__text mb-3" id="challenge__description">{{ challengeDescription }}</p>
                                  <h4 class="about__text h4 mb-3" id="challenge__title">{{ solutionTitle }}</h4>
                                  <p class="about__text mb-3" id="challenge__solution">{{ solutionDescription }}</p>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">If the project is live or publicly accessible, provide a URL or a link to a demo version. This allows potential clients to interact with the project and experience its functionality.</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Highlight any measurable results or outcomes achieved through the project. This could include metrics such as increased website traffic, improved conversion rates, or positive user feedback.</div>
                    </div>
            
            </section>
            
        </main>
          

        <!-- Footer Section -->
        <footer class="footer">
            <p class="footer__title">Khotso</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
        </footer>
      

        